@import url(reset.css);
body {
  width: 100%; }

::-webkit-scrollbar {
  width: 0px; }

.walkthrough-container {
  position: fixed;
  width: 200px;
  height: 700px;
  top: 0;
  left: 14%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 0; }
  .walkthrough-container .walkthrough {
    background-color: #3c6182;
    color: white;
    cursor: pointer;
    line-height: 24px;
    overflow: hidden;
    display: none;
    position: absolute;
    width: 200px;
    font-weight: 300;
    padding: 25px 35px; }
  .walkthrough-container .explore {
    font-size: 20px;
    display: block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    overflow: hidden;
    outline: none;
    position: fixed;
    left: 21%;
    top: 47%;
    padding: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
  .walkthrough-container .next, .walkthrough-container .back-to-explore {
    float: right;
    font-style: italic;
    cursor: pointer;
    text-decoration: underline; }
  .walkthrough-container .stepone {
    top: 28%; }
  .walkthrough-container .steptwo {
    top: 22%; }
  .walkthrough-container .stepthree, .walkthrough-container .stepfour, .walkthrough-container .stepseven {
    top: 40%; }
  .walkthrough-container .stepfive {
    top: 41%; }
  .walkthrough-container .stepsix {
    top: 33%; }

.explore::after {
  animation: shine 1.5s infinite;
  -webkit-animation: shine 1.5s infinite;
  -moz-animation: shine 1.5s infinite;
  -ms-animation: shine 1.5s infinite;
  -o-animation: shine 1.5s infinite;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  content: '';
  position: absolute;
  width: 150px;
  left: -200px;
  height: 55px;
  content: '';
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
  background: -webkit-linear-gradient(right, transparent, rgba(255, 255, 255, 0.1), transparent);
  background: -moz-linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
  background: -ms-webkit-linear-gradient(right, transparent, rgba(255, 255, 255, 0.1), transparent);
  background: -o-webkit-linear-gradient(right, transparent, rgba(255, 255, 255, 0.1), transparent); }

@keyframes shine {
  100% {
    left: 150px; } }
@-webkit-keyframes shine {
  100% {
    left: 150px; } }
@-moz-keyframes shine {
  100% {
    left: 150px; } }
@-ms-keyframes shine {
  100% {
    left: 150px; } }
@-o-keyframes shine {
  100% {
    left: 150px; } }
#template {
  background: url("images/template.png") no-repeat center;
  width: 350px;
  height: 700px;
  margin: auto;
  margin-top: 20px;
  position: relative;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 12px;
  color: #767676; }

#display, #display-overlay {
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  width: 276.15px;
  height: 493.8px;
  left: 38.925px;
  top: 103.1px; }

#top-bars {
  width: 100%;
  height: 47.8986px;
  background-color: #f28686;
  text-align: center;
  color: white;
  font-weight: 300; }

.left, .week ul li {
  float: left; }

.right {
  float: right; }

#status-bar {
  height: 10.8636px;
  font-size: 10px;
  padding: 2px 3px; }

#navigation-bar {
  height: 25.1838px;
  padding: 3px 4px 5px 4px;
  font-size: 20px;
  font-family: "Roboto Condensed", "sans-serif"; }
  #navigation-bar .icon {
    height: 25px;
    cursor: pointer; }
  #navigation-bar .date {
    position: absolute;
    left: 102.075px; }
  #navigation-bar .button-block {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    margin: 1px 0 0 0;
    position: relative;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
    #navigation-bar .button-block .mark {
      position: absolute;
      background-color: #ffffff; }
    #navigation-bar .button-block .x {
      height: 14px;
      width: 2px;
      left: 10px;
      top: 4px; }
    #navigation-bar .button-block .xx {
      height: 2px;
      width: 14px;
      left: 4px;
      top: 10px; }
  #navigation-bar .canceled {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

.add-content {
  background-color: #767676;
  padding: 5px 10px 10px 10px;
  font-weight: 100;
  color: white;
  display: none;
  position: relative;
  z-index: 20; }
  .add-content .checkbox-square {
    display: inline-block;
    background: transparent;
    border: 2px solid #ffffff;
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0; }
  .add-content .event-button {
    cursor: pointer;
    font-style: italic;
    padding: 8px 5px 5px 10px;
    text-align: center; }
  .add-content .task-add-button, .add-content .event-add-button {
    margin-top: 10px;
    height: 18px;
    border: 1px solid #f4f4f4;
    text-align: center;
    font-weight: 400;
    padding-top: 8px;
    cursor: pointer; }
    .add-content .task-add-button:hover, .add-content .event-add-button:hover {
      background-color: #ffffff;
      color: #767676; }
  .add-content .input-line {
    margin: 0;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #8c8c8c;
    cursor: text; }
  .add-content .add-content-event {
    display: none; }

.calendar {
  magin: 0;
  padding: 0;
  height: 222.9507px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

.week {
  margin: 0 4px; }
  .week ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 7px 3px 0 3px; }
    .week ul .middle-day {
      border-bottom: 4px solid #f28686; }
    .week ul li {
      padding: 0 7px 4px 7px;
      line-height: 20px;
      text-transform: uppercase; }

.events {
  padding: 10px 5px;
  height: 187.9507px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .events .event {
    z-index: 1;
    background-color: #f4f4f4;
    padding: 4px 8px 4px 5px;
    margin-bottom: 3px;
    cursor: pointer;
    height: 40px; }
    .events .event .time, .events .event .content {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding: 0; }
    .events .event .time {
      width: 31px;
      margin-right: 8px; }
      .events .event .time .top-span {
        line-height: 19px; }
    .events .event .content {
      max-width: 200px;
      padding-top: 5px; }
      .events .event .content .content-note {
        font-weight: 300;
        line-height: 19px; }
  .events .event, .events .time, .events .content {
    min-height: 35px; }
  .events .added-event {
    display: none; }
  .events .first, .events .second, .events .added-event {
    border-left: 3px solid #f28686; }
  .events .third, .events .fourth {
    border-left: 3px solid #748ea5; }
  .events .move-event {
    top: 185px; }

.event-edit {
  height: 384.4px;
  position: absolute;
  left: 38.925px;
  top: 103.1px; }
  .event-edit .event-edit-content {
    display: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    height: 275px;
    width: 276.15px;
    margin: 0;
    margin-top: 109.4px;
    padding: 20px 0;
    background-color: #ffffff;
    color: #767676;
    font-size: 15px;
    font-weight: 300; }
    .event-edit .event-edit-content .input-line {
      border-bottom: 1px solid #f4f4f4;
      padding: 8px 10px;
      overflow: hidden;
      cursor: text; }
    .event-edit .event-edit-content .checkbox-square {
      display: inline-block;
      background: transparent;
      border: 2px solid #767676;
      width: 10px;
      height: 10px;
      margin: 0;
      padding: 0; }
    .event-edit .event-edit-content .button-area {
      margin: 15px 0 0 0;
      text-align: center; }
      .event-edit .event-edit-content .button-area .button {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        display: inline-block;
        width: 132.075px;
        margin: 0;
        padding: 13px;
        text-align: center;
        border: 1px solid #767676;
        color: #767676;
        background-color: #fff;
        cursor: pointer; }
        .event-edit .event-edit-content .button-area .button:hover {
          background-color: #767676;
          color: white; }

#display-overlay {
  display: none;
  background-color: #767676;
  opacity: 0.8; }

.todo {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 222.9507px;
  position: relative;
  background: #767676 url("images/0.png") no-repeat center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }
  .todo .todo-list {
    list-style-type: none;
    color: white;
    font-weight: 100;
    font-size: 14px;
    margin: 0;
    padding: 10px; }
    .todo .todo-list li {
      padding: 8px;
      border-bottom: 1px solid #8c8c8c; }
    .todo .todo-list .full {
      font-style: italic;
      text-decoration: line-through; }
    .todo .todo-list img {
      width: 9px;
      margin-right: 7px;
      margin-bottom: 2px;
      cursor: pointer; }
    .todo .todo-list .added-todo {
      display: none; }
  .todo .resizable {
    width: 30px;
    position: absolute;
    left: 123px; }

.todo-after {
  background: url("images/process-bar-after.png") no-repeat center;
  background-color: #767676; }

.calendar-view {
  position: absolute;
  background: white url("images/calendar-view.png") no-repeat center;
  width: 276.15px;
  height: 445.9014px;
  top: 47.8986px;
  z-index: 10; }

.calendar-view, .today-icon {
  display: none; }
